<div class="jumbotron">
    {{#each user}}
        {{#if Nome}}    
            <h1 class="display-4">Bem-Vindo, {{Nome}}</h1>
        {{else}}
        {{/if}}
    {{else}}
    {{/each}}
    <p class="lead">Os Brawlers são as verdadeiras Estrelas de Brawl Stars.</p>
    <hr class="my-4">
        <p>Brawl Stars é um mobile freemium multiplayer de batalha/shoot 'em up desenvolvido e publicado pela Supercell. Brawl Stars pode ser jogado com amigos para se divertir, ou para entrar em um mundo competitivo dos E-Sports.</p>
        
        
        <a href="/admin/categoria"><button type="button" class="btn btn-outline-primary mx-2">Categorias</button></a>
        <a href="/admin/postagens"><button type="button" class="btn btn-outline-primary mx-2">Postagens</button></a>
        <a href="/admin/usuario"><button type="button" class="btn btn-outline-primary mx-2">Editar Usuarios</button></a>
        <a href="/admin/raridade"><button type="button" class="btn btn-outline-primary mx-2">Raridade</button></a>      
</div>


