<div class="jumbotron">
    {{#each user}}
        {{#if Nome}}    
            <h1 class="display-4">Bem Vindo, {{Nome}}</h1>
        {{else}}
        {{/if}}
    {{else}}
    {{/each}}
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        
        
        <a href="/admin/categoria"><button type="button" class="btn btn-outline-primary mx-2">Categorias</button></a>
        <a href="/admin/postagens"><button type="button" class="btn btn-outline-primary mx-2">Postagens</button></a>
        <a href=""><button type="button" class="btn btn-outline-primary mx-2">Editar Usuarios</button></a>
        <a href="/admin/raridade"><button type="button" class="btn btn-outline-primary mx-2">Raridade</button></a>      
</div>


