
<div class="card mt-4">
    <div class="card-body">
        <h4>Categoria: </h4>
        {{#each categoria}}

            <a href="/categoria/{{Slug}}"> <h4>{{Nome}}</h4></a>    

        {{else}}

        {{/each}}
    </div>
</div>