
<div class="card">
    <div class="card-body">
        <h1>{{postagens.Titulo}}</h1>
        <hr>
        <small> Data de Publicação: {{postagens.Data}}</small><br>
        <hr>
        {{postagens.Conteudo}}
    </div>
</div>